* {
    margin: 0;
    padding: 0;
}
.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/* 标题区域 */
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    margin: 0 16px;
}
.title-input {
    border: none;
    outline: none;
    flex: 1;
    height: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #333333;
}
.title-word-count {
    margin-left: 8rpx;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}
.line {
    margin: 12px 16px 16px;
    height: 1px;
    background-color: #dfdfdf;
}
/* 正文区域 */
.body-container {
    height: 300px;
    margin: 0 6px;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #363636;
    overflow-y: auto;
}
p {
    margin: 0 !important;
    line-height: 25px !important;
}
.body-editor {
    min-height: 300px;
}
.w-e-text-placeholder {
    font-size: 14px;
    font-style: normal;
    color: #cacaca;
    top: 0 !important;
    line-height: 25px !important;
}
.body-word-count {
    margin: 0 16px;
    text-align: right;
    right: 0;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #989898;
}
/* 底部区域 */
.bottom-area {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 44px; */
    height: 44px;
}
.btn-icon {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #f7f7f7;
}
.btn-txt {
    font-size: 10px;
    line-height: 10px;
    color: #989898;
}
.preview-btn {
    width: 130px;
    height: 44px;
    border-radius: 22px;
    background-color: #E93F49;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    color: #FFFFFF; 
}



/* 工具栏 */
.tool-bar {
    /* padding: 0 10px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ECECEC;
    box-shadow: 0px -4px 10px rgba(147, 151, 194, 0.16);
}
.tool-item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool-icon {
    width: 20px;
    height: 20px;
}
.block-item {
    width: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.vertical-line {
    width: 1px;
    height: 20px;
    background-color: #bcbcbc;
}
.vertical-line-shadow {
    width: 1px;
    height: 20px;
    background: #bcbcbc;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.49);
}
.fold-keyboard-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fold-keyboard-icon {
    width: 26px;
    height: 26px;
}
/* 工具栏选区 */
.tool-container {
    height: 400px;
    /* background-color: #989898; */
}